<footer class="bg-black ph3 pv4 white">

	<div class="ph3 mw7 center">
		<div class="flex-ns justify-center">

			<div class="primary">
				@2019 Lavamachine
                | <a href="/imprint" class="link no-underline">Imprint</a>
                | <a href="/data-protection" class="link no-underline">Data Protection</a>
                | <a href="/contact" class="link no-underline">Contact</a>
			</div>
		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
