<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Contact</h3>
				<ul class="mb3">
					<li>Piers Goffart</li>
					<li>Bargteheider Str. 147a</li>
					<li>22143 Hamburg</li>
					<li>Germany</li>
					<li><a href="tel:+49 1779484085">+49 1779484085</a></li>
					<li><a href="mailto:mail@piersgoffart.com">mail@piersgoffart.com</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/lavamachine/" "svg" "icons-instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
