<div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('{{.imageUrl}}')">
  <div class="center">

    <div class="lavamachine-jumbotron__container">
      <h1 class="f2 b di lh-title mb3 white lavamachine-font-family lavamachine-jumbotron__headline">
        {{.title}}
      </h1>
      {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 white lavamachine-font-family lavamachine-jumbotron__subtitle">
          {{.subtitle}}
        </p>
      {{ end }}
      </div>
    </div>

  </div>
</div>
