<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative lavamachine-nav">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 w4-ns w5-m flex-none">
		<img src="/img/lavamachine-logo.png" alt="Kaldi logo" class="br0 db mb0 w-100 lavamachine-nav__logo"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3 lavamachine-nav__links">
		<li><a href="/videos" class="pa3 link db">Videos</a></li>
		<li><a href="/products" class="pa3 link db">About</a></li>
	</ul>

</nav>
