<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white relative lavamachine-nav">

	<!-- Logo -->
	<a href="/" class="pa3 db h-100 flex-none no-underline">
		<h1 class="lavamachine-font-family f5 f3-m">Lavamachine</h1>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/portfolio" class="pa2 pa3-m link db no-underline lavamachine-nav__link nowrap">Portfolio</a></li>
		<li><a href="/vr-live-painting" class="pa2 pa3-m link db no-underline lavamachine-nav__link nowrap">Live Painting</a></li>
		<li><a href="/about" class="pa2 pa3-m link db no-underline lavamachine-nav__link nowrap">About</a></li>
	</ul>

</nav>
