<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative lavamachine-nav">

	<!-- Logo -->
	<a href="/" class="pa3 db mr2 mr4-m h-100 flex-none no-underline">
		<h1 class="lavamachine-font-family f5 f2-m">Lavamachine</h1>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3 lavamachine-nav__links">
		<li><a href="/videos" class="pa3 link db no-underline">Videos</a></li>
		<li><a href="/products" class="pa3 link db no-underline">About</a></li>
	</ul>

</nav>
