<div class="bg-grey-1 pv4">
    <div class="ph3 mw7 center">

        <div class="flex-l mhn2-l">
            <div class="w-50-l ph2-l tc">
                <img src="/img/Lavamachine_video_Logo_01.svg" alt="" class="mb3 w5 w-auto-l">
                <h2 class="f2 b lh-title mb2">{{.headingleft}}</h2>

                <p class="mw-100">{{.textleft}}</p>
            </div>

            <div class="w-50-l ph2-l tc">
                <img src="img/Lavamachine_pencil_Logo_02.svg" alt="" class="mb3 w5 w-auto-l" >
                <h2 class="f2 b lh-title mb2">{{.headingright}}</h2>

                <p class="mw-100">{{.textright}}</p>
            </div>
        </div>

        <div class="tc">
            <a href="{{.buttonLink}}" class="btn raise">{{.buttontext}}</a>
        </div>

    </div>
</div>
