<div class="bg-grey-1 pv4 lavamachine-text-and-text">
    <div class="ph3 mw7 center">

        <div class="flex-l mhn2-l">
            <div class="w-50-l ph2-l tc">
                <img src="{{.item1.image}}" alt="" class="mb3 w5 w-auto-l lavamachine-text-and-text__image {{if eq .images_are_small true }} image-small {{ end}}">
                <h2 class="f3 b lh-title mb2">{{.item1.heading}}</h2>

                <p class="mw-100">{{.item1.text}}</p>
            </div>

            <div class="w-50-l ph2-l tc">
                <img src="{{.item2.image}}" alt="" class="mb3 w5 w-auto-l lavamachine-text-and-text__image {{if eq .images_are_small true }} image-small {{ end}}" >
                <h2 class="f3 b lh-title mb2">{{.item2.heading}}</h2>

                <p class="mw-100">{{.item2.text}}</p>
            </div>

            <div class="w-50-l ph2-l tc">
                <img src="{{.item3.image}}" alt="" class="mb3 w5 w-auto-l lavamachine-text-and-text__image {{if eq .images_are_small true }} image-small {{ end}}" >
                <h2 class="f3 b lh-title mb2">{{.item3.heading}}</h2>

                <p class="mw-100">{{.item3.text}}</p>
            </div>
        </div>

            <div class="flex-l mhn2-l">
            <div class="w-50-l ph2-l tc">
                {{ if .item1.buttontext }}
                    <div class="tc">
                        <a href="{{.item1.buttonurl}}" class="btn">{{.item1.buttontext}}</a>
                    </div>
                {{ end }}
            </div>

            <div class="w-50-l ph2-l tc">
                {{ if .item2.buttontext }}
                    <div class="tc">
                        <a href="{{.item2.buttonurl}}" class="btn">{{.item2.buttontext}}</a>
                    </div>
                {{ end }}
            </div>

            <div class="w-50-l ph2-l tc">
                {{ if .item3.buttontext }}
                    <div class="tc">
                        <a href="{{.item3.buttonurl}}" class="btn">{{.item3.buttontext}}</a>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
    </div>
</div>
