{{ if gt .vimeonummer 0 }}
	<div class="flex-m mhn3-m mb4">
	    <div class="ph3-m w-50-m {{ if eq .reverse true }} order-last-m {{ end }}">
	        <iframe src="https://player.vimeo.com/video/{{.vimeonummer}}" 
	        		width="100%" 
	        		height="100%" 
	        		frameborder="0"
	                webkitallowfullscreen mozallowfullscreen allowfullscreen>     
	        </iframe>
	    </div>
	    <div class="ph3-m w-50-m">
	        <h3 class="f3 b lh-title mb1">{{.headline}}</h3>
	        <p>{{.text}}</p>
	    </div>
	</div>
{{ end }}