.lavamachine-jumbotron-secondary__headline {
    padding: 0.5rem;
    line-height: 4rem;
    color: var(--lavamachine-primary);
    background-color: var(--lavamachine-headline-background);
}

.lavamachine-jumbotron-secondary__container {
    padding-top: 5rem;
    padding-bottom: 1rem;
}

@media (--breakpoint-not-small) {
    .lavamachine-jumbotron-secondary__container {
        padding-top: 8rem;
    }
}

@media (--breakpoint-medium) {
    .lavamachine-jumbotron-secondary__container {
        padding-top: 10rem;
    }
}

@media (--breakpoint-large) {
    .lavamachine-jumbotron-secondary__container {
        padding-top: 22rem;
    }
}
