:root {
    /* Colors */
    --lavamachine-primary: rgb(227, 136, 135);
    --primary: var(--lavamachine-primary);
    --lavamachine-headline-background: rgba(255, 255, 255, 0.5);

    /* Miscelaneous */
    --border-radius: 0;
}
